<html>

<head>
    <meta charset='utf-8' />
    <title>AI Services</title>
</head>

<body>
    Please select the service you want to experience:
    <ul>
        <li>
            <a href='/text-summary'>Text Summary:</a> Get the summarization of a long article.
        </li>
        <li>
            <a href='/image-coloring'>Image Coloring:</a> Transform a monochrome image into a colorful image.
        </li>
    </ul>
</body>

</html>